name: Terraform Apply/Destroy

run-name: >
  TF:${{ inputs.action }} |
  project=${{ inputs.project_name }} |
  key=${{ inputs.tf_state_key }}


on:
  workflow_dispatch:
    inputs:
      aws_role_arn:
        description: "OIDCのARNを記述"
        required: true

      action:
        description: "apply or destroyのどちらかを選択"
        required: false
        default: "apply"
        type: choice
        options: [apply, destroy]

      project_name:
        description: "ユニークなリソース名を記述"
        required: true

      vpc_cidr:
        description: "VPCのアドレスレンジを記述(他と被らない範囲)e.g. 10.0.0.0/24"
        required: true

      public_subnet_cidrs:
        description: 'パブリックのサブネットをJSON arrayでe.g. ["10.0.0.0/28","10.0.0.16/28"]'
        required: true

      private_subnet_cidrs:
        description: 'プライベートのサブネットをJSON arrayでe.g. ["10.0.0.32/28","10.0.0.48/28"]'
        required: true
        
      allowed_ip:
        description: "端末のグローバルIPを記述e.g. 10.20.100.150/32"
        required: true

      tf_state_bucket:
        description: "TF_STATE_BUCKET: tfstateの保管先のS3を指定"
        required: true
        type: string

      tf_lock_table:
        description: "TF_LOCK_TABLE: tfstateの保管先のDynamoDBテーブル名を指定"
        required: true
        type: string

      tf_state_key:
        description: "TF_STATE_KEY: tfstateキーを入力(ユニークな値/terraform.tfstate) (例: watanababy/terraform.tfstate)"
        required: true
        type: string

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-northeast-1
  TF_DIR: .

jobs:
  tf:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.aws_role_arn }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Cache .terraform
        uses: actions/cache@v4
        with:
          path: ./.terraform
          key: ${{ runner.os }}-tf-${{ hashFiles('**/.terraform.lock.hcl') }}

      - name: Terraform init
        working-directory: ${{ env.TF_DIR }}
        run: |
          terraform init \
            -backend-config="bucket=${{ inputs.tf_state_bucket }}" \
            -backend-config="key=${{ inputs.tf_state_key }}" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="dynamodb_table=${{ inputs.tf_lock_table }}" \
            -reconfigure
        
      - name: Terraform plan
        working-directory: ${{ env.TF_DIR }}
        run: |
          terraform plan \
            -var="aws_region=${{ env.AWS_REGION }}" \
            -var="project_name=${{ inputs.project_name }}" \
            -var="vpc_cidr=${{ inputs.vpc_cidr }}" \
            -var='public_subnet_cidrs=${{ toJson(fromJSON(inputs.public_subnet_cidrs)) }}' \
            -var='private_subnet_cidrs=${{ toJson(fromJSON(inputs.private_subnet_cidrs)) }}' \
            -var="allowed_ip=${{ inputs.allowed_ip }}"

      - name: Terraform apply
        if: ${{ inputs.action == 'apply' }}
        working-directory: ${{ env.TF_DIR }}
        run: |
          terraform apply -auto-approve \
            -var="aws_region=${{ env.AWS_REGION }}" \
            -var="project_name=${{ inputs.project_name }}" \
            -var="vpc_cidr=${{ inputs.vpc_cidr }}" \
            -var='public_subnet_cidrs=${{ toJson(fromJSON(inputs.public_subnet_cidrs)) }}' \
            -var='private_subnet_cidrs=${{ toJson(fromJSON(inputs.private_subnet_cidrs)) }}' \
            -var="allowed_ip=${{ inputs.allowed_ip }}"

      - name: Show ansible public IP
        if: ${{ inputs.action == 'apply' }}
        run: terraform output -raw ansible_public_ip

      - name: Terraform destroy
        if: ${{ inputs.action == 'destroy' }}
        working-directory: ${{ env.TF_DIR }}
        run: |
          terraform destroy -auto-approve \
            -var="aws_region=${{ env.AWS_REGION }}" \
            -var="project_name=${{ inputs.project_name }}" \
            -var="vpc_cidr=${{ inputs.vpc_cidr }}" \
            -var='public_subnet_cidrs=${{ toJson(fromJSON(inputs.public_subnet_cidrs)) }}' \
            -var='private_subnet_cidrs=${{ toJson(fromJSON(inputs.private_subnet_cidrs)) }}' \
            -var="allowed_ip=${{ inputs.allowed_ip }}"
